.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: ;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flexCol {
  flex-direction: column;
}

.itemsCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.minHScreen {
  min-height: 100vh;
}

.py2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text4xl {
  font-size: 2.25rem;
}

.fontBold {
  font-weight: 700;
}

.mb4 {
  margin-bottom: 1rem;
}

.textXl {
  font-size: 1.25rem;
}

.mb8 {
  margin-bottom: 2rem;
}

.btnLarger {
  font-size: 1.5rem; /* Increase font size */
  padding: 1rem 2rem; /* Increase padding */
}

.gradientBackground {
  background-image: linear-gradient(
    135deg,
    rgba(176, 224, 230, 1) 0%,
    rgba(176, 224, 230, 0.8) 40%,
    rgba(211, 211, 211, 0.8) 60%,
    rgba(211, 211, 211, 1) 100%
  );
  transition: background-image 0.3s ease;
}

.gradientBackground:hover {
  background-image: linear-gradient(
    135deg,
    rgba(135, 206, 235, 1) 0%,
    rgba(135, 206, 235, 0.8) 40%,
    rgba(169, 169, 169, 0.8) 60%,
    rgba(169, 169, 169, 1) 100%
  );
}

.rounded {
  border-radius: 0.5rem;
  /* remove the border */
  border: 0;
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
